Curious/Curious/bin
Curious/Curious/obj
Curious/Curious.Android/bin
Curious/Curious.Android/obj
Curious/libs/Cian/obj
Curious/libs/Cian/bin
Curious/libs/Cian.Polygon/bin
Curious/libs/Cian.Polygon/obj
Curious/libs/Selenium/bin
Curious/libs/Selenium/obj
.vs